n8n-workflows/workflow1-market-decision.json
{
  "name": "workflow1-market-decision",
  "nodes": [
    {
      "parameters": {},
      "id": "295e7838-2a34-4202-958e-d7e30cf17a32",
      "name": "Start (Manual)",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -2200,
        -128
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "symbol",
              "value": "BTCUSDT",
              "type": "string"
            },
            {
              "id": "2",
              "name": "balance",
              "value": 5000,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "731fe1c3-8e0c-4a93-9d09-a00ebd598455",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1960,
        80
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.BACKEND_URL + '/auto-params?symbol=' + $json.symbol + '&balance=' + $json.balance }}",
        "options": {}
      },
      "id": "f1a2b3c4-d5e6-f7a8-b9c0-d1e2f3a4b5c6",
      "name": "Get Auto Params (FIX 4)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1720,
        80
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond_viable",
              "leftValue": "={{ $json.grid_viable }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "87d5e9f1-5678-90ab-cdef-0123456789ab",
      "name": "IF: Grid Viable? (FIX 4)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1496,
        80
      ]
    },
    {
      "parameters": {
        "jsCode": "const autoParams = $json;\nconst config = $('Config').item.json;\n\nconst systemPrompt = `Eres el modulo de decision de un bot de grid trading en Binance Futures.\nRecibes datos de mercado ya calculados Y validados (grid_viable=true).\nTu unica tarea es decidir si lanzar el grid con los parametros derivados.\n\nParametros ya validados (no cambiar):\n- levels: ${autoParams.params.levels}\n- risk_pct: ${autoParams.params.risk_pct}\n- atr_multiplier: ${autoParams.params.atr_multiplier}\n- klines_interval: ${autoParams.params.klines_interval}\n\nDecision:\n- launch=true: usar los parametros exactos derivados\n- launch=false: NO colocar grid, explicar razon en reasoning\n\nResponde UNICAMENTE en JSON: {\"reasoning\": \"...\", \"launch\": true/false}`;\n\nconst geminiRequestBody = {\n  systemInstruction: { parts: [{ text: systemPrompt }] },\n  contents: [{ role: 'user', parts: [{ text: JSON.stringify(autoParams) }] }],\n  generationConfig: {\n    temperature: 0.3,\n    responseMimeType: 'application/json',\n    responseSchema: {\n      type: 'OBJECT',\n      properties: {\n        reasoning: { type: 'STRING' },\n        launch: { type: 'BOOLEAN' }\n      },\n      required: ['reasoning', 'launch']\n    }\n  }\n};\n\nreturn {\n  json: {\n    geminiRequestBody,\n    autoParams,\n    symbol: config.symbol,\n    balance: config.balance\n  }\n};"
      },
      "id": "354b35a0-28ae-4b5c-b2b6-e7f2cc362417",
      "name": "Build Gemini Request (with derived params)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1272,
        80
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.geminiRequestBody }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "82f4c5d6-e7f8-a9b0-c1d2-e3f4a5b6c7d8",
      "name": "Gemini: AI Decision",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1048,
        80
      ]
    },
    {
      "parameters": {
        "jsCode": "const resp = $json;\nconst statusCode = resp.statusCode || 200;\nconst body = resp.body || {};\n\nif (statusCode === 200 && body.candidates && body.candidates.length > 0) {\n  const content = body.candidates[0].content;\n  if (content && content.parts && content.parts[0]) {\n    const text = content.parts[0].text;\n    try {\n      const parsed = JSON.parse(text);\n      return { json: parsed };\n    } catch (e) {\n      return { json: { reasoning: 'Parse error: ' + text, launch: false } };\n    }\n  }\n}\n\nreturn { json: { reasoning: 'Gemini error or no response', launch: false } };"
      },
      "id": "c9e0f1a2-b3c4-d5e6-f7a8-b9c0-d1e2f3a4",
      "name": "Parse AI Decision",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -824,
        80
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond_launch",
              "leftValue": "={{ $json.launch }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "401b8c54-3e5c-4126-92d6-cbf37f2fdc09",
      "name": "IF: Launch = true?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -600,
        80
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.BACKEND_URL }}/api/v1/grids",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { symbol: $('Config').item.json.symbol, levels: $('Get Auto Params (FIX 4)').item.json.params.levels, grid_type: 'GEOMETRIC', quantity_per_order: $('Get Auto Params (FIX 4)').item.json.params.risk_pct * $('Config').item.json.balance / ($('Get Auto Params (FIX 4)').item.json.params.levels * $('Get Auto Params (FIX 4)').item.json.current_price), atr_period: $('Get Auto Params (FIX 4)').item.json.params.atr_period, atr_multiplier: $('Get Auto Params (FIX 4)').item.json.params.atr_multiplier, klines_interval: $('Get Auto Params (FIX 4)').item.json.params.klines_interval, stop_loss: null, take_profit: null, max_duration_hours: null } }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "914a7e83-3438-48b0-bfb4-948d28e12494",
      "name": "Create Grid (POST) with derived params",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -376,
        -16
      ]
    },
    {
      "parameters": {
        "jsCode": "const resp = $json;\nconst statusCode = resp.statusCode;\nconst body = resp.body || {};\nconst decisionCtx = $('Parse AI Decision').item.json;\nconst autoParams = $('Get Auto Params (FIX 4)').item.json;\n\nif (statusCode === 200) {\n  return { json: { isError: false, alreadyExists: false, grid: body, reasoning: decisionCtx.reasoning, autoParams: autoParams } };\n}\n\nconst detailRaw = body.detail !== undefined ? body.detail : body;\nconst detail = typeof detailRaw === 'string' ? detailRaw : JSON.stringify(detailRaw);\n\nif (statusCode === 400 && detail.toLowerCase().includes('already exists')) {\n  return { json: { isError: false, alreadyExists: true, grid: null, reasoning: decisionCtx.reasoning, autoParams: autoParams, detail } };\n}\n\nreturn { json: { isError: true, alreadyExists: false, grid: null, reasoning: decisionCtx.reasoning, autoParams: autoParams, statusCode, detail } };"
      },
      "id": "f81ed401-d9e9-4609-9e38-7b9a581d4d0f",
      "name": "Interpret Grid Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -168,
        -16
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond_error",
              "leftValue": "={{ $json.isError }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "13fdde20-87f7-4e7f-a169-fc1c5f679692",
      "name": "IF: Grid Error (real)?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        56,
        -16
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "={{ $json.alreadyExists ? ('ℹ️ Grid ya existia para ' + $('Config').item.json.symbol + '\\n\\n💭 ' + $json.reasoning) : ('✅ Grid LANZADO\\n━━━━━━━━━━━━━━━━━━━━\\n📊 Symbol: ' + $json.grid.symbol + '\\n🆔 ID: ' + $json.grid.id.substring(0, 16) + '...\\n📈 Niveles: ' + $json.grid.levels + '\\n💰 Rango: ' + $json.grid.lower_price + ' - ' + $json.grid.upper_price + '\\n🎯 Órdenes: ' + $json.grid.orders.length + '\\n\\n💡 Parámetros (auto-derivados):\\n   • risk_pct: ' + $json.autoParams.params.risk_pct + '\\n   • atr_mult: ' + $json.autoParams.params.atr_multiplier + '\\n   • interval: ' + $json.autoParams.params.klines_interval + '\\n\\n💭 ' + $json.reasoning) }}",
        "additionalFields": {}
      },
      "id": "61eb1e23-9e4c-4d64-a34e-5d8f2e3a9b7c",
      "name": "Notify: Grid Launched",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        256,
        -144
      ],
      "credentials": {
        "telegramApi": {
          "id": "zurDfqIC4Qy17sUA",
          "name": "TRADING"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "={{ '❌ ERROR al crear grid\\n━━━━━━━━━━━━━━━━━━━━\\n' + ($json.statusCode ? ('HTTP ' + $json.statusCode + '\\n') : '') + 'Detalle: ' + $json.detail + '\\n\\nSe reintentará en próximo ciclo.' }}",
        "additionalFields": {}
      },
      "id": "7f2c3d4e-5a6b-7c8d-9e0f-a1b2c3d4e5f6",
      "name": "Notify: Grid Error",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        256,
        112
      ],
      "credentials": {
        "telegramApi": {
          "id": "zurDfqIC4Qy17sUA",
          "name": "TRADING"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "={{ '⚠️ Grid NO LANZADO\\n━━━━━━━━━━━━━━━━━━━━\\n📍 Razón (IA): ' + $json.reasoning }}",
        "additionalFields": {}
      },
      "id": "8e3f4a5b-6c7d-8e9f-0a1b-2c3d4e5f6a7b",
      "name": "Notify: Skipped (No Launch)",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        256,
        -288
      ],
      "credentials": {
        "telegramApi": {
          "id": "zurDfqIC4Qy17sUA",
          "name": "TRADING"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "={{ '⚠️ GRID NO VIABLE\\n━━━━━━━━━━━━━━━━━━━━\\n🚫 ' + ($json.reasoning && $json.reasoning.no_viable ? $json.reasoning.no_viable : 'Parámetros insuficientes para este balance') + '\\n\\n💰 Balance: ' + $('Config').item.json.balance + ' USDT\\n📊 Symbol: ' + $('Config').item.json.symbol }}",
        "additionalFields": {}
      },
      "id": "9f4a5b6c-7d8e-9f0a-1b2c-3d4e5f6a7b8c",
      "name": "Notify: Not Viable (FIX 4)",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1272,
        -144
      ],
      "credentials": {
        "telegramApi": {
          "id": "zurDfqIC4Qy17sUA",
          "name": "TRADING"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 0
            },
            {
              "triggerAtHour": 4
            },
            {
              "triggerAtHour": 8
            },
            {
              "triggerAtHour": 12
            },
            {
              "triggerAtHour": 16
            },
            {
              "triggerAtHour": 20
            }
          ]
        }
      },
      "id": "aabbccdd-eeff-0011-2233-445566778899",
      "name": "Schedule Trigger (every 4h)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2200,
        400
      ]
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.2,
      "position": [
        -2200,
        620
      ],
      "id": "a7f3c2d1-4b5e-4f6a-8c9d-0e1f2a3b4c5d",
      "name": "WF-Trigger-Externo"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "22825ef6-0b9c-40da-92c6-571fee8f76e8",
              "leftValue": "={{ String($json.message.chat.id) }}",
              "rightValue": "={{ $env.TELEGRAM_CHAT_ID }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2240,
        840
      ],
      "id": "70323c80-65cc-44dd-a3ed-fd9a13f0baf9",
      "name": "IF: Chat autorizado?"
    },
    {
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "cond_switch_lanzar",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/lanzar",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Lanzar"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "cond_switch_monitorear",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/monitorear",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Monitorear"
            }
          ]
        },
        "options": {
          "fallbackOutput": "none"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -2040,
        840
      ],
      "id": "b1c2d3e4-f5a6-47b8-9c0d-1e2f3a4b5c6d",
      "name": "Switch: Comando"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [
        -2440,
        840
      ],
      "id": "11dffbf2-d967-4621-9d70-8c362acc2c5f",
      "name": "TRADINGTrigger",
      "webhookId": "9d552227-c4b5-437e-b8b9-fc4a42bfd117",
      "credentials": {
        "telegramApi": {
          "id": "zurDfqIC4Qy17sUA",
          "name": "TRADING"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "96qAStQwfrHAVXRd",
          "mode": "list",
          "cachedResultUrl": "/workflow/96qAStQwfrHAVXRd",
          "cachedResultName": "Workflow 2 - Grid Monitor & Close"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -1840,
        940
      ],
      "id": "9506755e-13ce-43eb-b8b0-6d34ab8f8360",
      "name": "Call 'Workflow 2 - Grid Monitor & Close'"
    }
  ],
  "connections": {
    "Start (Manual)": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger (every 4h)": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Get Auto Params (FIX 4)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Auto Params (FIX 4)": {
      "main": [
        [
          {
            "node": "IF: Grid Viable? (FIX 4)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Grid Viable? (FIX 4)": {
      "main": [
        [
          {
            "node": "Build Gemini Request (with derived params)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify: Not Viable (FIX 4)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Gemini Request (with derived params)": {
      "main": [
        [
          {
            "node": "Gemini: AI Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini: AI Decision": {
      "main": [
        [
          {
            "node": "Parse AI Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Decision": {
      "main": [
        [
          {
            "node": "IF: Launch = true?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Launch = true?": {
      "main": [
        [
          {
            "node": "Create Grid (POST) with derived params",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify: Skipped (No Launch)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Grid (POST) with derived params": {
      "main": [
        [
          {
            "node": "Interpret Grid Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Interpret Grid Result": {
      "main": [
        [
          {
            "node": "IF: Grid Error (real)?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Grid Error (real)?": {
      "main": [
        [
          {
            "node": "Notify: Grid Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify: Grid Launched",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WF-Trigger-Externo": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TRADINGTrigger": {
      "main": [
        [
          {
            "node": "IF: Chat autorizado?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Chat autorizado?": {
      "main": [
        [
          {
            "node": "Switch: Comando",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Switch: Comando": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'Workflow 2 - Grid Monitor & Close'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
