n8n-workflows/workflow2-monitor.json
{
    "name": "workflow2-monitor",
    "nodes": [
        {
            "parameters": {},
            "id": "e257def9-c2a4-480a-8759-4f694ace903d",
            "name": "Monitor cycle complete",
            "type": "n8n-nodes-base.noOp",
            "typeVersion": 1,
            "position": [
                -720,
                -144
            ]
        },
        {
            "parameters": {
                "amount": 1.5
            },
            "id": "93db7d16-d035-41b8-94cd-b72ed27a61db",
            "name": "Wait (1.5s between items)",
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1.1,
            "position": [
                1136,
                416
            ],
            "webhookId": "bf018954-a634-457e-9b11-4fd190db4500"
        },
        {
            "parameters": {
                "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
                "text": "={{ '🔒 GRID CERRADO - ' + $json.grid.symbol + '\n\n📌 Motivo: ' + ($json.triggered === 'STOP_LOSS' ? '❌ Stop Loss' : $json.triggered === 'TAKE_PROFIT' ? '✅ Take Profit' : $json.triggered === 'EXPIRED' ? '⏰ Expiración' : '🤷 Manual') + '\n📊 PnL Total: ' + ($json.grid.total_pnl || 'N/A') + ' USDT\n🆔 Grid ID: ' + $json.grid.id + '\n✨ Ciclos: ' + ($json.grid.cycles_completed || '0') }}",
                "additionalFields": {}
            },
            "id": "558ca711-6c09-4e04-8302-5bd2a3263ec0",
            "name": "Notify: Grid Closed",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1.2,
            "position": [
                928,
                272
            ],
            "webhookId": "9f608c9d-b6a9-442c-bcef-dbe8c9c65a06",
            "credentials": {
                "telegramApi": {
                    "id": "zurDfqIC4Qy17sUA",
                    "name": "TRADING"
                }
            }
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict",
                        "version": 1
                    },
                    "conditions": [
                        {
                            "id": "cond_triggered",
                            "leftValue": "={{ $json.triggered }}",
                            "rightValue": "",
                            "operator": {
                                "type": "string",
                                "operation": "notEmpty",
                                "singleValue": true
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "id": "2033e656-87d4-4560-bdb7-5d5ca90f3f36",
            "name": "IF: Grid closed?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                720,
                336
            ]
        },
        {
            "parameters": {
                "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
                "text": "={{ '⚠️ CHECK-CLOSE FALLIDO - Grid ' + $json.gridId + ' (' + $json.symbol + ')\\n\\nError: ' + $json.errorMessage + '\\n\\nSe reintentara en el proximo ciclo (15 min).' }}",
                "additionalFields": {}
            },
            "id": "f5eea5b9-7148-439f-b23b-1dd49adadb19",
            "name": "Notify: Check-close Error",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1.2,
            "position": [
                720,
                144
            ],
            "webhookId": "cb1770e5-6368-43e9-bb8a-1501b90d3c65",
            "credentials": {
                "telegramApi": {
                    "id": "zurDfqIC4Qy17sUA",
                    "name": "TRADING"
                }
            }
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict",
                        "version": 1
                    },
                    "conditions": [
                        {
                            "id": "cond_close_error",
                            "leftValue": "={{ $json.isError }}",
                            "rightValue": true,
                            "operator": {
                                "type": "boolean",
                                "operation": "true",
                                "singleValue": true
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "id": "28507751-6730-4706-abf6-3192f54aef11",
            "name": "IF: Check-close failed?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                496,
                240
            ]
        },
        {
            "parameters": {
                "jsCode": "const resp = $json;\nconst ctx = $('Interpret Refresh Result').item.json;\nconst isError = resp.statusCode !== 200;\nconst body = resp.body || {};\nreturn {\n  json: {\n    gridId: ctx.gridId,\n    symbol: ctx.symbol,\n    isError,\n    statusCode: resp.statusCode,\n    errorMessage: isError ? (body.detail || JSON.stringify(body)) : null,\n    triggered: isError ? null : body.triggered,\n    grid: isError ? null : body.grid\n  }\n};"
            },
            "id": "af1e1365-12c9-454a-b79b-d52bb6953bd6",
            "name": "Interpret Check-Close Result",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                272,
                240
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "={{ $env.BACKEND_URL + '/api/v1/grids/' + $json.gridId + '/check-close' }}",
                "options": {
                    "response": {
                        "response": {
                            "fullResponse": true,
                            "neverError": true
                        }
                    }
                }
            },
            "id": "b5a30440-eaf2-41f8-9a22-70cf0c77e437",
            "name": "Check Close (POST)",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                48,
                240
            ]
        },
        {
            "parameters": {
                "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
                "text": "={{ '⚠️ REFRESH FALLIDO - Grid ' + $json.gridId + ' (' + $json.symbol + ')\\n\\nError: ' + $json.errorMessage + '\\n\\nSe reintentara en el proximo ciclo (15 min).' }}",
                "additionalFields": {}
            },
            "id": "ef695bca-14d1-4406-a857-7e47bdc7f702",
            "name": "Notify: Refresh Error",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1.2,
            "position": [
                48,
                32
            ],
            "webhookId": "d7da2109-ba7c-429d-bd87-d515ceaed2ac",
            "credentials": {
                "telegramApi": {
                    "id": "zurDfqIC4Qy17sUA",
                    "name": "TRADING"
                }
            }
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict",
                        "version": 1
                    },
                    "conditions": [
                        {
                            "id": "cond_refresh_error",
                            "leftValue": "={{ $json.isError }}",
                            "rightValue": true,
                            "operator": {
                                "type": "boolean",
                                "operation": "true",
                                "singleValue": true
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "id": "af19e979-bcc9-47c4-b6d6-2e5091ec3bcd",
            "name": "IF: Refresh failed?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                -256,
                144
            ]
        },
        {
            "parameters": {
                "jsCode": "const resp = $json;\nconst grid = $('Split in Batches (Sequential)').item.json;\nconst isError = resp.statusCode !== 200;\nconst body = resp.body || {};\nreturn {\n  json: {\n    gridId: grid.id,\n    symbol: grid.symbol,\n    isError,\n    statusCode: resp.statusCode,\n    errorMessage: isError ? (body.detail || JSON.stringify(body)) : null,\n    grid: isError ? grid : body\n  }\n};"
            },
            "id": "900ae644-bedc-420a-9e39-9c56589ff1bb",
            "name": "Interpret Refresh Result",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -480,
                144
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "={{ $env.BACKEND_URL + '/api/v1/grids/' + $json.id + '/refresh' }}",
                "options": {
                    "response": {
                        "response": {
                            "fullResponse": true,
                            "neverError": true
                        }
                    }
                }
            },
            "id": "d1e718e4-50a4-49df-9629-ccd7df2194a2",
            "name": "Refresh Orders (POST)",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                -704,
                144
            ]
        },
        {
            "parameters": {
                "options": {}
            },
            "id": "eab2aa6d-2a52-4fac-8e83-2f2a7d2317d6",
            "name": "Split in Batches (Sequential)",
            "type": "n8n-nodes-base.splitInBatches",
            "typeVersion": 3,
            "position": [
                -912,
                128
            ]
        },
        {
            "parameters": {
                "url": "={{ $env.BACKEND_URL }}/api/v1/grids?status=RUNNING",
                "options": {}
            },
            "id": "c5ae6c8f-6a30-460a-af3a-3a95324d65b3",
            "name": "List Running Grids",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                -1136,
                128
            ]
        },
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "minutes",
                            "minutesInterval": 5
                        }
                    ]
                }
            },
            "id": "bd5fde97-7f7f-48b9-a9cc-d61df3997e0b",
            "name": "Cron: Every 5 min - prueba",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.2,
            "position": [
                -1408,
                -112
            ]
        },
        {
            "parameters": {},
            "id": "b1129470-6970-4461-b711-0e3780571295",
            "name": "Start (Manual)",
            "type": "n8n-nodes-base.manualTrigger",
            "typeVersion": 1,
            "position": [
                -1408,
                128
            ]
        },
        {
            "parameters": {
                "inputSource": "passthrough"
            },
            "type": "n8n-nodes-base.executeWorkflowTrigger",
            "typeVersion": 1.2,
            "position": [
                -1408,
                384
            ],
            "id": "c41c1235-7e67-44e9-94c9-fa6a556c6456",
            "name": "WF-Monitoreo-Trading"
        }
    ],
    "pinData": {
        "Cron: Every 5 min": [
            {
                "json": {
                    "timestamp": "2026-07-04T08:15:16.007-05:00",
                    "Readable date": "July 4th 2026, 8:15:16 am",
                    "Readable time": "8:15:16 am",
                    "Day of week": "Saturday",
                    "Year": "2026",
                    "Month": "July",
                    "Day of month": "04",
                    "Hour": "08",
                    "Minute": "15",
                    "Second": "16",
                    "Timezone": "America/Bogota (UTC-05:00)"
                },
                "pairedItem": {
                    "item": 0
                }
            }
        ]
    },
    "connections": {
        "Wait (1.5s between items)": {
            "main": [
                [
                    {
                        "node": "Split in Batches (Sequential)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Notify: Grid Closed": {
            "main": [
                [
                    {
                        "node": "Wait (1.5s between items)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "IF: Grid closed?": {
            "main": [
                [
                    {
                        "node": "Notify: Grid Closed",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Wait (1.5s between items)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Notify: Check-close Error": {
            "main": [
                [
                    {
                        "node": "Wait (1.5s between items)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "IF: Check-close failed?": {
            "main": [
                [
                    {
                        "node": "Notify: Check-close Error",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "IF: Grid closed?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Interpret Check-Close Result": {
            "main": [
                [
                    {
                        "node": "IF: Check-close failed?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Check Close (POST)": {
            "main": [
                [
                    {
                        "node": "Interpret Check-Close Result",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Notify: Refresh Error": {
            "main": [
                [
                    {
                        "node": "Wait (1.5s between items)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "IF: Refresh failed?": {
            "main": [
                [
                    {
                        "node": "Notify: Refresh Error",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Check Close (POST)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Interpret Refresh Result": {
            "main": [
                [
                    {
                        "node": "IF: Refresh failed?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Refresh Orders (POST)": {
            "main": [
                [
                    {
                        "node": "Interpret Refresh Result",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Split in Batches (Sequential)": {
            "main": [
                [
                    {
                        "node": "Monitor cycle complete",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Refresh Orders (POST)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "List Running Grids": {
            "main": [
                [
                    {
                        "node": "Split in Batches (Sequential)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Start (Manual)": {
            "main": [
                [
                    {
                        "node": "List Running Grids",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "WF-Monitoreo-Trading": {
            "main": [
                [
                    {
                        "node": "List Running Grids",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Cron: Every 5 min": {
            "main": [
                [
                    {
                        "node": "List Running Grids",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": true,
    "settings": {
        "executionOrder": "v1",
        "binaryMode": "separate",
        "availableInMCP": false
    },
    "versionId": "1a0dc2fb-0f4a-40d6-a771-78302b0b0989",
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "6471357be079e574ad4f9e3ce2e07a9201267c14e828bbf21e10ed02ba0644ee"
    },
    "nodeGroups": [],
    "id": "96qAStQwfrHAVXRd",
    "tags": []
}
