n8n-workflows/workflow1-market-decision.json
{
  "name": "workflow1-market-decision",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "balance",
              "value": "={{ $('WF-Trigger-Externo').item?.json?.args?.[0] ? Number($('WF-Trigger-Externo').item.json.args[0]) : 5000 }}",
              "type": "string"
            },
            {
              "id": "2",
              "name": "symbol",
              "value": "={{ $('WF-Trigger-Externo').item?.json?.args?.[1] || '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "731fe1c3-8e0c-4a93-9d09-a00ebd598455",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1968,
        80
      ]
    },
    {
      "parameters": {
        "url": "={{ $env.BACKEND_URL + '/auto-params?balance=' + $json.balance + ($json.symbol ? '&symbol=' + $json.symbol : '') }}",
        "options": {}
      },
      "id": "f1a2b3c4-d5e6-f7a8-b9c0-d1e2f3a4b5c6",
      "name": "Get Auto Params (FIX 4)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1728,
        80
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond_viable",
              "leftValue": "={{ $json.grid_viable }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "87d5e9f1-5678-90ab-cdef-0123456789ab",
      "name": "IF: Grid Viable? (FIX 4)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1504,
        80
      ]
    },
    {
      "parameters": {
        "jsCode": "const autoParams = $json;\nconst config = $('Config').item.json;\n\nconst systemPrompt = \"Eres el modulo de decision de un bot de grid trading en Binance Futures USDT-M.\\nRecibes parametros ya calculados y validados (grid_viable=true).\\nTu unica tarea es decidir si lanzar el grid con estos parametros.\\n\\nCONTEXTO QUE RECIBES:\\n- symbol: par elegido automaticamente por scoring (ER, volumen, ATR, funding)\\n- symbol_selection.top_3: los 3 mejores pares evaluados\\n- params.leverage: derivado de la volatilidad del par (ATR%)\\n- params.risk_pct: capital asignado como % del balance\\n- reasoning: explicacion de cada parametro\\n\\nPUEDES DECIDIR:\\n- launch=true: usar los parametros exactos recibidos\\n- launch=false: NO lanzar, explicar razon en reasoning\\n\\nNO PUEDES:\\n- Cambiar parametros (solo aprobar o rechazar)\\n- Ignorar grid_viable=false (si llega aqui ya fue filtrado)\\n- Asumir informacion que no esta en el JSON\\n\\nCRITERIOS PARA launch=false:\\n- ER del par seleccionado > 0.35 (tendencia, no lateral)\\n- Leverage > 5x con ATR% > 2% (demasiado agresivo)\\n- top_3 vacio o candidatos_evaluados < 5 (mercado sin opciones)\\n- Cualquier anomalia en los parametros que indique riesgo extremo\\n\\nResponde UNICAMENTE en JSON: {\\\"reasoning\\\": \\\"...\\\", \\\"launch\\\": true/false}\";\n\nconst geminiRequestBody = {\n  systemInstruction: { parts: [{ text: systemPrompt }] },\n  contents: [{ role: 'user', parts: [{ text: JSON.stringify(autoParams) }] }],\n  generationConfig: {\n    temperature: 0.3,\n    responseMimeType: 'application/json',\n    responseSchema: {\n      type: 'OBJECT',\n      properties: {\n        reasoning: { type: 'STRING' },\n        launch: { type: 'BOOLEAN' }\n      },\n      required: ['reasoning', 'launch']\n    }\n  }\n};\n\nreturn {\n  json: {\n    geminiRequestBody,\n    autoParams,\n    symbol: autoParams.symbol,\n    balance: config.balance\n  }\n};"
      },
      "id": "354b35a0-28ae-4b5c-b2b6-e7f2cc362417",
      "name": "Build Gemini Request (with derived params)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1280,
        64
      ]
    },
    {
      "parameters": {
        "jsCode": "const resp = $json;\n\n// 1) Formato LLM Chain / OpenAI en n8n: { text: \"...\" }\nlet text = null;\nif (typeof resp.text === 'string') {\n  text = resp.text;\n// 2) Formato OpenAI API crudo: choices[0].message.content\n} else if (resp.choices && resp.choices[0] && resp.choices[0].message) {\n  text = resp.choices[0].message.content;\n// 3) Formato Gemini HTTP antiguo: body.candidates[0].content.parts[0].text\n} else if (resp.body && resp.body.candidates && resp.body.candidates.length > 0) {\n  const content = resp.body.candidates[0].content;\n  if (content && content.parts && content.parts[0]) {\n    text = content.parts[0].text;\n  }\n}\n\nif (text) {\n  let clean = text.trim();\n  // El modelo a veces envuelve el JSON en ```json ... ```\n  const fence = clean.match(/```(?:json)?\\s*([\\s\\S]*?)\\s*```/);\n  if (fence) clean = fence[1];\n  try {\n    const parsed = JSON.parse(clean);\n    return { json: parsed };\n  } catch (e) {\n    return { json: { reasoning: 'Parse error: ' + clean, launch: false } };\n  }\n}\n\nreturn { json: { reasoning: 'AI error or no response', launch: false } };"
      },
      "id": "c9e0f1a2-b3c4-d5e6-f7a8-b9c0-d1e2f3a4",
      "name": "Parse AI Decision",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -688,
        64
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond_launch",
              "leftValue": "={{ $json.launch }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "401b8c54-3e5c-4126-92d6-cbf37f2fdc09",
      "name": "IF: Launch = true?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -480,
        64
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.BACKEND_URL }}/api/v1/grids",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ symbol: $('Get Auto Params (FIX 4)').item.json.symbol, levels: $('Get Auto Params (FIX 4)').item.json.params.levels, grid_type: 'GEOMETRIC', quantity_per_order: $('Get Auto Params (FIX 4)').item.json.params.risk_pct * $('Config').item.json.balance * $('Get Auto Params (FIX 4)').item.json.params.leverage / ($('Get Auto Params (FIX 4)').item.json.params.levels * $('Get Auto Params (FIX 4)').item.json.current_price), atr_period: $('Get Auto Params (FIX 4)').item.json.params.atr_period, atr_multiplier: $('Get Auto Params (FIX 4)').item.json.params.atr_multiplier, klines_interval: $('Get Auto Params (FIX 4)').item.json.params.klines_interval, leverage: $('Get Auto Params (FIX 4)').item.json.params.leverage, stop_loss: null, take_profit: null, max_duration_hours: null }) }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "914a7e83-3438-48b0-bfb4-948d28e12494",
      "name": "Create Grid (POST) with derived params",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -240,
        -96
      ]
    },
    {
      "parameters": {
        "jsCode": "const resp = $json;\nconst statusCode = resp.statusCode;\nconst body = resp.body || {};\nconst decisionCtx = $('Parse AI Decision').item.json;\nconst autoParams = $('Get Auto Params (FIX 4)').item.json;\n\nif (statusCode === 200) {\n  return { json: { isError: false, alreadyExists: false, grid: body, reasoning: decisionCtx.reasoning, autoParams: autoParams } };\n}\n\nconst detailRaw = body.detail !== undefined ? body.detail : body;\nconst detail = typeof detailRaw === 'string' ? detailRaw : JSON.stringify(detailRaw);\n\nif (statusCode === 400 && detail.toLowerCase().includes('already exists')) {\n  return { json: { isError: false, alreadyExists: true, grid: null, reasoning: decisionCtx.reasoning, autoParams: autoParams, detail } };\n}\n\nreturn { json: { isError: true, alreadyExists: false, grid: null, reasoning: decisionCtx.reasoning, autoParams: autoParams, statusCode, detail } };"
      },
      "id": "f81ed401-d9e9-4609-9e38-7b9a581d4d0f",
      "name": "Interpret Grid Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        48,
        -112
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond_error",
              "leftValue": "={{ $json.isError }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "13fdde20-87f7-4e7f-a169-fc1c5f679692",
      "name": "IF: Grid Error (real)?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        224,
        32
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "={{ $json.alreadyExists ? ('ℹ️ Grid ya existia para ' + $json.autoParams.symbol + '\\n\\n💭 ' + $json.reasoning) : ('✅ Grid LANZADO\\n━━━━━━━━━━━━━━━━━━━━\\n📊 Symbol: ' + $json.grid.symbol + '\\n🆔 ID: ' + $json.grid.id.substring(0, 16) + '...\\n📈 Niveles: ' + $json.grid.levels + '\\n💰 Rango: ' + $json.grid.lower_price + ' - ' + $json.grid.upper_price + '\\n🎯 Órdenes: ' + $json.grid.orders.length + '\\n⚡ Leverage: ' + $json.autoParams.params.leverage + 'x\\n\\n💡 Parámetros (auto-derivados):\\n   • risk_pct: ' + $json.autoParams.params.risk_pct + '\\n   • atr_mult: ' + $json.autoParams.params.atr_multiplier + '\\n   • interval: ' + $json.autoParams.params.klines_interval + '\\n   • par elegido: ' + ($json.autoParams.symbol_selection?.method === 'auto' ? 'automático' : 'manual') + '\\n\\n💭 ' + $json.reasoning) }}",
        "additionalFields": {}
      },
      "id": "61eb1e23-9e4c-4d64-a34e-5d8f2e3a9b7c",
      "name": "Notify: Grid Launched",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        416,
        -96
      ],
      "webhookId": "e22b0dde-b321-4687-9915-0a66ac2a0c7b",
      "credentials": {
        "telegramApi": {
          "id": "zurDfqIC4Qy17sUA",
          "name": "TRADING"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "={{ '❌ ERROR al crear grid\\n━━━━━━━━━━━━━━━━━━━━\\n' + ($json.statusCode ? ('HTTP ' + $json.statusCode + '\\n') : '') + 'Detalle: ' + $json.detail + '\\n\\nSe reintentará en próximo ciclo.' }}",
        "additionalFields": {}
      },
      "id": "7f2c3d4e-5a6b-7c8d-9e0f-a1b2c3d4e5f6",
      "name": "Notify: Grid Error",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        416,
        160
      ],
      "webhookId": "e95707f3-02cd-4a86-8e8a-3392bf647fa5",
      "credentials": {
        "telegramApi": {
          "id": "zurDfqIC4Qy17sUA",
          "name": "TRADING"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "={{ '⚠️ Grid NO LANZADO\\n━━━━━━━━━━━━━━━━━━━━\\n📍 Razón (IA): ' + $json.reasoning }}",
        "additionalFields": {}
      },
      "id": "8e3f4a5b-6c7d-8e9f-0a1b-2c3d4e5f6a7b",
      "name": "Notify: Skipped (No Launch)",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        416,
        -240
      ],
      "webhookId": "727fc471-ab72-4de1-a6fc-55af4d24a700",
      "credentials": {
        "telegramApi": {
          "id": "zurDfqIC4Qy17sUA",
          "name": "TRADING"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "={{ '⚠️ GRID NO VIABLE\\n━━━━━━━━━━━━━━━━━━━━\\n🚫 ' + ($json.reasoning?.no_viable || 'Parámetros insuficientes para este balance') + '\\n\\n💰 Balance: ' + $('Config').item.json.balance + ' USDT\\n📊 Symbol: ' + ($json.symbol || 'selección automática') }}",
        "additionalFields": {}
      },
      "id": "9f4a5b6c-7d8e-9f0a-1b2c-3d4e5f6a7b8c",
      "name": "Notify: Not Viable (FIX 4)",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1280,
        -144
      ],
      "webhookId": "615da7cb-f784-41ff-9045-232f3f2c7043",
      "credentials": {
        "telegramApi": {
          "id": "zurDfqIC4Qy17sUA",
          "name": "TRADING"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {},
            {
              "triggerAtHour": 4
            },
            {
              "triggerAtHour": 8
            },
            {
              "triggerAtHour": 12
            },
            {
              "triggerAtHour": 16
            },
            {
              "triggerAtHour": 20
            }
          ]
        }
      },
      "id": "aabbccdd-eeff-0011-2233-445566778899",
      "name": "Schedule Trigger (every 4h)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2208,
        400
      ]
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.2,
      "position": [
        -2208,
        624
      ],
      "id": "a7f3c2d1-4b5e-4f6a-8c9d-0e1f2a3b4c5d",
      "name": "WF-Trigger-Externo"
    },
    {
      "parameters": {},
      "id": "295e7838-2a34-4202-958e-d7e30cf17a32",
      "name": "Start (Manual)",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -2336,
        32
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "deepseek-ai/deepseek-v4-pro",
          "mode": "list",
          "cachedResultName": "deepseek-ai/deepseek-v4-pro"
        },
        "responsesApiEnabled": false,
        "options": {
          "maxTokens": 16384,
          "temperature": 0.3,
          "topP": 1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -1184,
        400
      ],
      "id": "d8cf6428-f2c8-4a04-9f54-b0fe69284bec",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "THcslCwcwDaKT3tD",
          "name": "DeepSeek"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.geminiRequestBody.contents[0].parts[0].text }}",
        "messages": {
          "messageValues": [
            {
              "message": "={{ $json.geminiRequestBody.systemInstruction.parts[0].text }}"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -1024,
        64
      ],
      "id": "79db1cbf-8cec-4fea-9f7b-dc13ca3bdce0",
      "name": "Gemini: AI Decision"
    }
  ],
  "pinData": {
    "TRADINGTrigger": [
      {
        "json": {
          "update_id": 843410647,
          "message": {
            "message_id": 63,
            "from": {
              "id": 1561962049,
              "is_bot": false,
              "first_name": "Daniel",
              "language_code": "es"
            },
            "chat": {
              "id": 1561962049,
              "first_name": "Daniel",
              "type": "private"
            },
            "date": 1783369528,
            "text": "/monitorear",
            "entities": [
              {
                "offset": 0,
                "length": 11,
                "type": "bot_command"
              }
            ]
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Schedule Trigger": [
      {
        "json": {
          "timestamp": "2026-07-06T16:00:00.020-05:00",
          "Readable date": "July 6th 2026, 4:00:00 pm",
          "Readable time": "4:00:00 pm",
          "Day of week": "Monday",
          "Year": "2026",
          "Month": "July",
          "Day of month": "06",
          "Hour": "16",
          "Minute": "00",
          "Second": "00",
          "Timezone": "America/Bogota (UTC-05:00)"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "WF-Trigger-Externo": [
      {
        "json": {
          "chatId": "1561962049",
          "text": "/lanzar",
          "command": "/lanzar",
          "args": [],
          "authorized": true,
          "username": ""
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Schedule Trigger (every 4h)": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Get Auto Params (FIX 4)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Auto Params (FIX 4)": {
      "main": [
        [
          {
            "node": "IF: Grid Viable? (FIX 4)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Grid Viable? (FIX 4)": {
      "main": [
        [
          {
            "node": "Build Gemini Request (with derived params)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify: Not Viable (FIX 4)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Gemini Request (with derived params)": {
      "main": [
        [
          {
            "node": "Gemini: AI Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Decision": {
      "main": [
        [
          {
            "node": "IF: Launch = true?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Launch = true?": {
      "main": [
        [
          {
            "node": "Create Grid (POST) with derived params",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify: Skipped (No Launch)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Grid (POST) with derived params": {
      "main": [
        [
          {
            "node": "Interpret Grid Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Interpret Grid Result": {
      "main": [
        [
          {
            "node": "IF: Grid Error (real)?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Grid Error (real)?": {
      "main": [
        [
          {
            "node": "Notify: Grid Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify: Grid Launched",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WF-Trigger-Externo": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start (Manual)": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Gemini: AI Decision",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Gemini: AI Decision": {
      "main": [
        [
          {
            "node": "Parse AI Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "98fe02bb-8035-4443-adb9-fed61a9981ba",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6471357be079e574ad4f9e3ce2e07a9201267c14e828bbf21e10ed02ba0644ee"
  },
  "nodeGroups": [],
  "id": "yggk1wajL1tsmABi",
  "tags": []
}
